# WEATHERSTACK API

In [1]:
import requests
import pandas as pd

In [2]:
# Performing an API request from Weatherstack.

BASE_URL = 'http://api.weatherstack.com/current'
API_KEY = 'f0cf2b2f124a3ba449b94c96403f0721'
Location = 'New york'

Locations = ['New york', 'Chicago', 'Berlin', 'London', 'Tokyo']
weather_data = []
for Location in Locations:
    params = {
           'access_key': API_KEY,
           'query' : Location
    }

    response = requests.get(BASE_URL, params = params)
    data = response.json()
    weather_data.append(data)

In [3]:
weather_data

[{'request': {'type': 'City',
   'query': 'New York, United States of America',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'New York',
   'country': 'United States of America',
   'region': 'New York',
   'lat': '40.714',
   'lon': '-74.006',
   'timezone_id': 'America/New_York',
   'localtime': '2024-08-04 04:21',
   'localtime_epoch': 1722745260,
   'utc_offset': '-4.0'},
  'current': {'observation_time': '08:21 AM',
   'temperature': 24,
   'weather_code': 176,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png'],
   'weather_descriptions': ['Patchy rain nearby'],
   'wind_speed': 10,
   'wind_degree': 250,
   'wind_dir': 'WSW',
   'pressure': 1011,
   'precip': 0.1,
   'humidity': 77,
   'cloudcover': 85,
   'feelslike': 26,
   'uv_index': 1,
   'visibility': 10,
   'is_day': 'no'}},
 {'request': {'type': 'City',
   'query': 'Chicago, United States of America',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'Chicago',
   'country': 'United States of America',
   'region': 'Illinois',
   'lat': '41.850',
   'lon': '-87.650',
   'timezone_id': 'America/Chicago',
   'localtime': '2024-08-04 03:21',
   'localtime_epoch': 1722741660,
   'utc_offset': '-5.0'},
  'current': {'observation_time': '08:21 AM',
   'temperature': 23,
   'weather_code': 113,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png'],
   'weather_descriptions': ['Clear '],
   'wind_speed': 6,
   'wind_degree': 131,
   'wind_dir': 'SE',
   'pressure': 1014,
   'precip': 0,
   'humidity': 71,
   'cloudcover': 18,
   'feelslike': 25,
   'uv_index': 1,
   'visibility': 10,
   'is_day': 'no'}},
 {'request': {'type': 'City',
   'query': 'Berlin, Germany',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'Berlin',
   'country': 'Germany',
   'region': 'Berlin',
   'lat': '52.517',
   'lon': '13.400',
   'timezone_id': 'Europe/Berlin',
   'localtime': '2024-08-04 10:18',
   'localtime_epoch': 1722766680,
   'utc_offset': '2.0'},
  'current': {'observation_time': '08:18 AM',
   'temperature': 18,
   'weather_code': 263,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0009_light_rain_showers.png'],
   'weather_descriptions': ['Patchy light drizzle'],
   'wind_speed': 6,
   'wind_degree': 261,
   'wind_dir': 'W',
   'pressure': 1011,
   'precip': 0.6,
   'humidity': 91,
   'cloudcover': 72,
   'feelslike': 18,
   'uv_index': 4,
   'visibility': 5,
   'is_day': 'yes'}},
 {'request': {'type': 'City',
   'query': 'London, United Kingdom',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'London',
   'country': 'United Kingdom',
   'region': 'City of London, Greater London',
   'lat': '51.517',
   'lon': '-0.106',
   'timezone_id': 'Europe/London',
   'localtime': '2024-08-04 09:21',
   'localtime_epoch': 1722763260,
   'utc_offset': '1.0'},
  'current': {'observation_time': '08:21 AM',
   'temperature': 17,
   'weather_code': 116,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0002_sunny_intervals.png'],
   'weather_descriptions': ['Partly Cloudy '],
   'wind_speed': 7,
   'wind_degree': 265,
   'wind_dir': 'W',
   'pressure': 1016,
   'precip': 0,
   'humidity': 57,
   'cloudcover': 46,
   'feelslike': 17,
   'uv_index': 5,
   'visibility': 10,
   'is_day': 'yes'}},
 {'request': {'type': 'City',
   'query': 'Tokyo, Japan',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'Tokyo',
   'country': 'Japan',
   'region': 'Tokyo',
   'lat': '35.690',
   'lon': '139.692',
   'timezone_id': 'Asia/Tokyo',
   'localtime': '2024-08-04 17:21',
   'localtime_epoch': 1722792060,
   'utc_offset': '9.0'},
  'current': {'observation_time': '08:21 AM',
   'temperature': 33,
   'weather_code': 113,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png'],
   'weather_descriptions': ['Sunny'],
   'wind_speed': 22,
   'wind_degree': 181,
   'wind_dir': 'S',
   'pressure': 1006,
   'precip': 0,
   'humidity': 47,
   'cloudcover': 13,
   'feelslike': 36,
   'uv_index': 8,
   'visibility': 10,
   'is_day': 'yes'}}]

In [4]:
weather = []

for data in weather_data:
    weather.append({
        'location' : data['location']['name'],
        'temperature' : data['current']['temperature'],
        'humidity' : data['current']['humidity'],
        'wind_speed' : data['current']['wind_speed'],
        'pressure' : data['current']['pressure'],
        'wind_degree' : data['current']['wind_degree']
    })

weather = pd.DataFrame(weather)
weather

   location  temperature  humidity  wind_speed  pressure  wind_degree
0  New York           24        77          10      1011          250
1   Chicago           23        71           6      1014          131
2    Berlin           18        91           6      1011          261
3    London           17        57           7      1016          265
4     Tokyo           33        47          22      1006          181

In [6]:
# Display the first few rows of the DataFrame.
head_rows = weather.head()
head_rows

   location  temperature  humidity  wind_speed  pressure  wind_degree
0  New York           24        77          10      1011          250
1   Chicago           23        71           6      1014          131
2    Berlin           18        91           6      1011          261
3    London           17        57           7      1016          265
4     Tokyo           33        47          22      1006          181

In [8]:
# Display the last few rows of the DataFrame.
tail_rows = weather.tail() 
tail_rows

   location  temperature  humidity  wind_speed  pressure  wind_degree
0  New York           24        77          10      1011          250
1   Chicago           23        71           6      1014          131
2    Berlin           18        91           6      1011          261
3    London           17        57           7      1016          265
4     Tokyo           33        47          22      1006          181

In [10]:
# check for missing values
missing_values = weather.isnull()
missing_values

   location  temperature  humidity  wind_speed  pressure  wind_degree
0     False        False     False       False     False        False
1     False        False     False       False     False        False
2     False        False     False       False     False        False
3     False        False     False       False     False        False
4     False        False     False       False     False        False

In [11]:
# Calculate basic statistics (mean, median, etc.) for temperature, humidity, and wind speed.
weather.describe()

       temperature   humidity  wind_speed     pressure  wind_degree
count     5.000000   5.000000    5.000000     5.000000     5.000000
mean     23.000000  68.600000   10.200000  1011.600000   217.600000
std       6.363961  17.169741    6.797058     3.781534    59.201351
min      17.000000  47.000000    6.000000  1006.000000   131.000000
25%      18.000000  57.000000    6.000000  1011.000000   181.000000
50%      23.000000  71.000000    7.000000  1011.000000   250.000000
75%      24.000000  77.000000   10.000000  1014.000000   261.000000
max      33.000000  91.000000   22.000000  1016.000000   265.000000

In [16]:
# Identify the location with the highest value of temperature.
max_temp = weather['temperature'].max()
max_temp

33

In [21]:
# Identify the location with the highest value of pressure.
max_pressure = weather['pressure'].max()
max_pressure

1016

In [22]:
# Identify the location with the highest value of humidity.
max_humidity = weather['humidity'].max()
max_humidity

91